---
- name: "update apt packages."
  become: yes
  apt:
    update_cache: yes

- name: "upgrade packages"
  become: yes
  apt:
    upgrade: yes

- name: "install dependencies."
  become: yes
  apt:
    name: ["nodejs", "npm"]
    state: latest
    update_cache: yes

- name: ENV
  shell: |
    echo $("{{ lookup('env', 'TYPEORM_CONNECTION')}}")

- name: ENV
  shell: |
    export TYPEORM_CONNECTION=$("{{ lookup('env', 'TYPEORM_CONNECTION')}}")
