---
- name: "update apt packages."
  become: yes
  apt:
    update_cache: yes

- name: "upgrade packages"
  become: yes
  apt:
    upgrade: yes

- name: remove dependencies that are no longer required
  become: yes
  apt:
    autoremove: yes

- name: "install dependencies."
  become: yes
  apt:
    name: ["nodejs", "npm", "tar"]
    state: latest
    update_cache: yes

- name: "install pm2"
  become: yes
  npm:
    name: pm2
    global: yes
    production: yes
    state: present

- name: Creates directory
  file:
    path: /home/ubuntu/backend
    state: directory

- name: Copy index test page
  ansible.builtin.unarchive:
    src: artifact.tar.gz
    dest: /home/ubuntu/backend

- name: Unzip
  shell: |
    cd /home/ubuntu/backend
    tar xvzf artifact.tar.gz -C .
    npm install
    pm2 stop default
    pm2 start npm -- start

- name: Install node
  shell: |
    cd /home/ubuntu/backend
    npm install

- name: Run pm
  shell: |
    cd /home/ubuntu/backend
    pm2 stop default
    pm2 start npm -- start
